<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common::head"></head>
<body>
<div id="header">
    <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<div th:include="common/nav :: nav"></div>
<div th:include="common/menu :: menu"></div>
<div id="content">
    <div class="container">
     <!--   <div class="starter-template" >
            <h1>欢迎使用Quark社区管理系统</h1>
        </div>-->
    </div>
</div>

</body>
</html>